{% extends 'base.html' %}
{% block content %}
<title> Races </title>
<body class="stripe">
  <!-- Racing -->
    <div class="race-container">
      <div class="race-list">
        <ul class="list-group">
          <li class="list-group-item active orange">
            <h2>Fall 2020 </h2>
          </li>
          <li class="list-group-item">
            <h4>Clemson - Men's 8k/Women's 6k</h4>
            <p>Date TBD Clemson, SC </p>
            <a href="http://google.com" target="_blank">More Info</a>
            <a href="" target="_blank">Interest Form</a>
            <a href="" target="_blank">Results</a>
            <br><br>
          </li>
          <li class="list-group-item">
            <h4>UNC Charlotte - Men's/Women's 5k</h4>
            <p>Date TBD Charlotte, NC</p>
            <a href="http://google.com" target="_blank">More Info</a>
            <a href="" target="_blank">Interest Form</a>
            <a href="" target="_blank">Results</a>
            <br><br>
          </li>
          <li class="list-group-item">
            <h4>Get Out! Greenville 10k</h4>
            <p>October 3rd Greenville, SC</p>
            <a href="https://book-events.com/events/getout10k2020/" target="_blank">More Info</a>
            <a href="" target="_blank">Interest Form</a>
            <a href="" target="_blank">Results</a>
            <br><br>
          </li>
          <li class="list-group-item">
            <h4>NIRCA SE Regionals - Men's 8k/Women's 6k</h4>
            <p>Date TBD Wingate, NC</p>
            <a href="http://google.com" target="_blank">More Info</a>
            <a href="" target="_blank">Interest Form</a>
            <a href="" target="_blank">Results</a>
            <br><br>
          </li>
          <li class="list-group-item">
            <h4>NIRCA Nationals - Men's 8k/Women's 6k</h4>
            <p>November 14th Richmond, VA</p>
            <a href="https://clubrunning.org/races/race_info.php?race=890" target="_blank">More Info</a>
            <a href="" target="_blank">Interest Form</a>
            <a href="" target="_blank">Results</a>
            <br><br>
          </li>
	        <li class="list-group-item">
            <h4>Paris Mountain - 20K/10K/5K</h4>
            <p>Date TBD Greenville, SC</p>
            <a href="https://runsignup.com/Race/SC/Greenville/ParisMountainRoadRace" target="_blank">More Info</a>
            <a href="" target="_blank">Interest Form</a>
            <a href="" target="_blank">Results</a>
            <br><br>
          </li>
          <li class="list-group-item">
            <h4>Kiawah Island Marathon</h4>
            <p>December 12 Kiawah Island, SC</p>
            <a href="https://kiawahresort.com/recreation/kiawah-island-marathon/" target="_blank">More Info</a>
            <a href="" target="_blank">Interest Form</a>
            <a href="https://runsignup.com/Race/Results/68851/#resultSetId-184106;perpage:10" target="_blank">Results</a>
            <br><br>
          </li>
        </ul>
      </div>

      <div class="race-list">
        <ul class="list-group">
          <li class="list-group-item active purple"><h2>Spring 2021</h2></li>
          <li class="list-group-item item-hidden">
            <h4> - </h4>
            <p> - </p>
          </li>
          <li class="list-group-item item-hidden">
            <h4> - </h4>
            <p> - </p>
          </li>
          <li class="list-group-item item-hidden">
            <h4> - </h4>
            <p> - </p>
          </li>
          <li class="list-group-item item-hidden">
            <h4> - </h4>
            <p> - </p>
          </li>
          <li class="list-group-item item-hidden">
            <h4> - </h4>
            <p> - </p>
          </li>
          <li class="list-group-item item-hidden">
            <h4> - </h4>
            <p> - </p>
          </li>
          <li class="list-group-item item-hidden">
            <h4> - </h4>
            <p> - </p>
          </li>
        </ul>
      </div>
    </div>
{% endblock %}
